/* oxanium-regular - latin */
@font-face {
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/oxanium-v6-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/oxanium-v6-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/oxanium-v6-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/oxanium-v6-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/oxanium-v6-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/oxanium-v6-latin-regular.svg#Oxanium') format('svg');
    /* Legacy iOS */
}

/* oxanium-300 - latin */
@font-face {
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/oxanium-v6-latin-300.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/oxanium-v6-latin-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/oxanium-v6-latin-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/oxanium-v6-latin-300.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/oxanium-v6-latin-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/oxanium-v6-latin-300.svg#Oxanium') format('svg');
    /* Legacy iOS */
}

/* oxanium-500 - latin */
@font-face {
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/oxanium-v6-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/oxanium-v6-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/oxanium-v6-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/oxanium-v6-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/oxanium-v6-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/oxanium-v6-latin-500.svg#Oxanium') format('svg');
    /* Legacy iOS */
}

/* oxanium-700 - latin */
@font-face {
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/oxanium-v6-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/oxanium-v6-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/oxanium-v6-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/oxanium-v6-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/oxanium-v6-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/oxanium-v6-latin-700.svg#Oxanium') format('svg');
    /* Legacy iOS */
}

/* oxanium-600 - latin */
@font-face {
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/oxanium-v6-latin-600.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/oxanium-v6-latin-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/oxanium-v6-latin-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/oxanium-v6-latin-600.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/oxanium-v6-latin-600.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/oxanium-v6-latin-600.svg#Oxanium') format('svg');
    /* Legacy iOS */
}

/* oxanium-800 - latin */
@font-face {
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/oxanium-v6-latin-800.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/oxanium-v6-latin-800.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/oxanium-v6-latin-800.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/oxanium-v6-latin-800.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/oxanium-v6-latin-800.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/oxanium-v6-latin-800.svg#Oxanium') format('svg');
    /* Legacy iOS */
}

/* sigmar-one-regular - latin */
@font-face {
    font-family: 'Sigmar One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/sigmar-one-v11-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/sigmar-one-v11-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/sigmar-one-v11-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/sigmar-one-v11-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/sigmar-one-v11-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/sigmar-one-v11-latin-regular.svg#SigmarOne') format('svg');
    /* Legacy iOS */
}

/* holtwood-one-sc-regular - latin */
@font-face {
    font-family: 'Holtwood One SC';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/holtwood-one-sc-v11-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/holtwood-one-sc-v11-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/holtwood-one-sc-v11-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/holtwood-one-sc-v11-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/holtwood-one-sc-v11-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/holtwood-one-sc-v11-latin-regular.svg#HoltwoodOneSC') format('svg');
    /* Legacy iOS */
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-image: url('../img/main-bg.png'), linear-gradient(180deg, #050E1D 0%, #1E0E3D 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Oxanium';
    font-style: normal;
    overflow-x: hidden;
}

body.locked {
    overflow-y: hidden;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #0E0010;
}

::-webkit-scrollbar-thumb {
    background-color: #0e001048;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b3000081;
}

.home {
    background-image: url('../img/bg-home.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: auto;
    padding: 0 10px;
}

.home__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.header__menu {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.header__menu ul {
    display: flex;
}

.header__menu ul li a {
    text-transform: uppercase;
    font-family: 'Sigmar One';
    color: #fff;
    font-size: 18px;
    outline: none;
    transition: .5s all;
}

.header__menu ul li a:hover {
    color: rgb(214, 215, 218);
}

.header__menu ul li:not(:last-child) {
    margin-right: 68px;
}

.main__heading {
    margin-top: 100px;
    margin-bottom: 130px;
    display: flex;
    justify-content: space-between;
}

.main__heading span {
    font-family: 'Holtwood One SC';
    font-size: 144px;
    color: rgba(239, 237, 242, .65);
    position: relative;
}

.heading__first,
.heading__second {
    position: relative;
}

.heading__first::before {
    content: '';
    position: absolute;
    top: -84px;
    left: -97px;
    width: 147%;
    height: 218%;
    background-image: url('../img/stars1.png');
    background-size: cover;
    z-index: -1;
}

.home::after {
    content: '';
    position: absolute;
    top: 11%;
    left: 45.5%;
    width: 122px;
    height: 367px;
    background-image: url('../img/rocket.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: bounce 5s infinite;
}

.heading__second::before {
    content: '';
    position: absolute;
    top: -84px;
    left: -190px;
    width: 147%;
    height: 218%;
    background-image: url('../img/stars2.png');
    background-size: cover;
    z-index: -1;
}

.buy__btn {
    max-width: 420px;
    width: 100%;
    height: 72px;
    background: linear-gradient(89.88deg, #BC51CC 0.1%, rgba(188, 81, 204, 0) 99.89%);
    border-radius: 15px;
    outline: none;
    border: none;
    font-family: Oxanium;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    color: #0E0010;
    transition: .5s all;
}

.buy__btn:hover {
    transform: translateX(-14px);
}

.home__elonvision {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.home__elonvision-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.home__elonvision img {
    margin-top: -35px;
}

.home__elonvision p {
    max-width: 805px;
    font-family: Sigmar One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 39px;
    text-align: center;
    color: #FFE9F5;
    margin-top: 30px;
}

.home__elonvision p span {
    color: rgba(188, 81, 204, 1);
}

.total__supply {
    position: relative;
    border-radius: 29px;
    height: 384px;
    margin-top: 70px;
    margin-bottom: 117px;
}

.total__supply::after {
    content: '';
    position: absolute;
    top: 40%;
    left: 7%;
    z-index: 2;
    width: 471px;
    height: 485px;
    background-image: url('../img/small-planet1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.total__blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #223988 0%, #41277F 0.01%, #220944 100%);
    box-shadow: 0px 20px 40px rgba(147, 37, 163, 0.4);
    filter: blur(2px);
    border-radius: 29px;
}

.total__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 3;
    position: absolute;
    top: 46px;
    left: 50%;
    transform: translateX(-50%);
}

.total__inner h3 {
    font-family: Sigmar One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 59px;
    color: #E5E5E5;
}

.total__supply-block {
    position: relative;
    margin-top: 30px;
}

.total__supply-block img {
    position: absolute;
}

.total__supply_burn-first,
.total__supply_burn-second {
    font-family: 'Sigmar One';
    font-size: 24px;
    line-height: 39px;
    color: #E5E5E5;
    margin-left: 150px;
}

.total__supply_burn-second {
    margin-top: 44px;
    margin-left: 174px;
}

.total__supply_burn-first span,
.total__supply_burn-second span {
    color: #EB2360;
}

.total__inner p {
    font-family: 'Sigmar One';
    font-size: 24px;
    line-height: 39px;
    color: #E5E5E5;
    text-align: center;
    margin-top: 60px;
}

.total__inner p span {
    color: #23EB5B;
}

.total__crystals {
    position: absolute;
    top: 0;
    right: 200px;
}

.total__crystals img:nth-child(2) {
    position: absolute;
    left: 0;
    top: 200px;
}

.total__crystals img:last-child {
    position: absolute;
    top: 238px;
}

.burning {
    position: relative;
}

.burning::before {
    content: '';
    position: absolute;
    bottom: 3%;
    left: 11%;
    width: 182px;
    height: 155px;
    background-image: url('../img/burning-crystal2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
}

.burning::after {
    content: '';
    position: absolute;
    top: 4%;
    right: 8%;
    width: 246px;
    height: 343px;
    background-image: url('../img/burning-crystal1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.burning__inner {
    position: relative;
    display: flex;
    justify-content: center;
}

.burning__blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(65, 39, 127, 0.65) 0%, rgba(78, 36, 84, 0.65) 100%);
    box-shadow: 5px 5px 20px 12px rgba(188, 81, 204, 0.2);
    filter: blur(4px);
    border-radius: 28px;
    z-index: -1;
}

.burning-block {
    position: relative;
    backdrop-filter: blur(30px);
    border-radius: 28px;
    max-width: 934px;
    width: 100%;
    padding: 52px 74px;
}

.burning-text {
    text-align: center;
}

.burning-text h4 {
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #BC51CC;
}

.burning-text p {
    font-size: 24px;
    font-weight: bold;
    color: #E5E5E5;
    line-height: 34px;
}

.burning-block::after {
    content: '';
    right: -27%;
    bottom: -20%;
    position: absolute;
    background-image: url('../img/elon2.png');
    background-position: center;
    background-size: cover;
    width: 413px;
    height: 413px;
}


.roadmap {
    position: relative;
    margin-top: 160px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: fit-content;
    padding-bottom: 70px;
}

.roadmap::after {
    content: '';
    position: absolute;
    top: 8%;
    left: 50%;
    height: 80%;
    z-index: -2;
    border-left: 3px dashed #9400A9;
}

.roadmap__inner {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roadmap h3 {
    font-family: Sigmar One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 59px;
    color: #E5E5E5;
    margin-bottom: 30px;
}

.roadmap img.elon-roadmap {
    max-width: 188px;
    width: 100%;
    height: auto;
    position: relative;
}

.roadmap img.elon-rocket {
    margin-top: -60px;
}

img.elon-roadmap__big {
    position: absolute;
    bottom: 37%;
    left: 10%;
}

img.rcrystal-roadmap__first {
    position: absolute;
    top: 0;
    left: 100px;
}

img.rcrystal-roadmap__second {
    position: absolute;
    bottom: 148px;
    left: 11em;
}

img.roadmap-crystal__first {
    position: absolute;
    right: 39em;
    top: 6em;
}

img.roadmap-crystal__second {
    position: absolute;
    right: 118px;
    top: 20em;
}

img.roadmap-crystal__third {
    position: absolute;
    bottom: 40px;
    right: 150px;
}

img.roadmap-crystal__forth {
    position: absolute;
    bottom: 125px;
    left: 40em;
}

img.red-planet {
    position: absolute;
    bottom: 92px;
    right: 196px;
}

img.telescope {
    position: absolute;
    right: 150px;
    bottom: 516px;
    z-index: 2;
}

.timeline {
    display: flex;
    justify-content: space-between;
    max-width: 770px;
    width: 100%;
}

ul.timeline-left,
ul.timeline-right {
    display: flex;
    flex-direction: column;

}

ul.timeline-left li,
ul.timeline-right li {
    border: 5px solid #9400A9;
    box-sizing: border-box;
    /* filter: blur(2px); */
    border-radius: 10px;
    padding: 3px;
    width: fit-content;
}

ul.timeline-left {
    margin-top: 100px;
    width: 100%;
    align-items: flex-end;
    padding-right: 38px;
}

ul.timeline-right {
    margin-top: 30px;
    width: 100%;
    align-items: center;
}

ul.timeline-left li {
    margin-bottom: 120px;
    position: relative;
}

ul.timeline-left li:nth-child(3) {
    margin-bottom: 100px;
}

ul.timeline-left li:nth-child(4),
ul.timeline-left li:nth-child(5) {
    margin-bottom: 80px;
}

ul.timeline-left li::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -34px;
    width: 30px;
    height: 3px;
    background-color: #9400A9;
}

ul.timeline-right li {
    position: relative;
}

ul.timeline-right li:first-child {
    margin-bottom: 140px;
}

ul.timeline-right li:nth-child(2) {
    margin-bottom: 120px;
}

ul.timeline-right li:nth-child(3) {
    margin-bottom: 80px;
}

ul.timeline-right li:nth-child(4) {
    margin-bottom: 100px;
}

ul.timeline-right li:nth-child(5) {
    margin-bottom: 80px;
}

ul.timeline-right li:first-child:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -23px;
    width: 22px;
    height: 3px;
    background-color: #9400A9;
}

ul.timeline-right li:nth-child(2):before {
    content: '';
    position: absolute;
    top: 50%;
    left: -84px;
    width: 82px;
    height: 3px;
    background-color: #9400A9;
}

ul.timeline-right li:nth-child(3):before {
    content: '';
    position: absolute;
    top: 50%;
    left: -41px;
    width: 38px;
    height: 3px;
    background-color: #9400A9;
}

ul.timeline-right li:nth-child(4):before {
    content: '';
    position: absolute;
    top: 50%;
    left: -80px;
    width: 78px;
    height: 3px;
    background-color: #9400A9;
}

ul.timeline-right li:nth-child(5):before {
    content: '';
    position: absolute;
    top: 50%;
    left: -55px;
    width: 52px;
    height: 3px;
    background-color: #9400A9;
}

ul.timeline-right li:nth-child(6):before {
    content: '';
    position: absolute;
    top: 50%;
    left: -77px;
    width: 77px;
    height: 3px;
    background-color: #9400A9;
}

ul.timeline-right li:not(:first-child) {
    margin-right: 8em;
}

ul.timeline li:nth-child(even) {
    margin-top: 55px;
}

ul.timeline li:nth-child(odd):not(:first-child) {
    margin-top: 50px;

}

ul.timeline li:nth-child(odd) {
    align-self: flex-end;
}

ul.timeline-left li p,
ul.timeline-right p {
    font-family: Oxanium;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #b9b3b3;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1700px) {
    .heading__second::before {
        top: -31px;
        left: -130px;
        width: 114%;
        height: 218%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .heading__first::before {
        top: -8px;
        left: 120px;
        width: 100%;
        height: 137%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .main__heading span {
        font-size: 115px;
    }

    .home::after {
        left: 44%;
    }

    .total__supply::after {
        width: 300px;
        height: 308px;
        left: 2%;
    }

    .total__crystals {
        right: 55px;
    }

    .burning-block::after {
        right: -11%;
        bottom: -15%;
        width: 237px;
        height: 240px;
    }
}

@media (max-width: 1500px) {
    .burning::after {
        right: 1%;
    }

    .burning::before {
        left: 1%;
    }
}

@media (max-width: 1200px) {
    .home::after {
        width: 80px;
        height: 250px;
        top: 13%;
        left: 45%;
    }

    .main__heading span {
        font-size: 100px;
    }

    .total__supply::after,
    .total__crystals {
        display: none;
    }

    .total__inner h3 {
        font-size: 30px;
    }

    .burning::after,
    .burning::before,
    .burning-block::after {
        display: none;
    }
}

@media (max-width: 1000px) {
    .main__heading {
        display: flex;
        justify-content: center;
    }

    .heading__first {
        margin-right: 170px;
    }

    .heading__before {
        margin-right: 80px;
    }

    .main__heading span {
        font-size: 80px;
    }
}

@media (max-width: 880px) {
    .main__heading span {
        font-size: 60px;
    }

    .heading__second::before {
        top: -17px;
    }

    .header__menu ul li:not(:last-child) {
        margin-right: 0;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 0;
        flex-direction: column;
        background-color: #220944;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 10;
        overflow: auto;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 11;
    }

}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 700px) {
    .main__heading span {
        font-size: 40px;
    }

    .home::after {
        width: 50px;
        left: 46.5%;
        height: 170px;
        top: 12%;
    }

    .main__heading {
        margin-top: 50px;
    }

    .home__elonvision-btn {
        flex-direction: column;
    }

    .home__elonvision img {
        margin-top: 20px;
    }

}

@media (max-width: 600px) {
    .buy__btn {
        font-size: 30px;
    }

    .home__elonvision p {
        font-size: 19px;
    }

    .total__inner h3 {
        font-size: 22px;
    }

    .total__supply-block img {
        position: absolute;
        max-width: 400px;
        width: 100%;
    }

    .total__supply_burn-first,
    .total__supply_burn-second {
        line-height: 18px;
        font-size: 18px;
        margin-left: 120px;
    }

    .total__supply_burn-first {
        margin-left: 100px;
    }

    .total__inner p {
        font-size: 18px;
    }

}

@media (max-width: 560px) {
    .heading__first {
        margin-right: 85px;
    }

    .main__heading span {
        font-size: 26px;
    }

    .home::after {
        left: 42.5%;
    }

    .total__supply_burn-second {
        margin-top: 38px;
    }

    .total__supply_burn-first,
    .total__supply_burn-second {
        font-size: 16px;
    }

    .total__inner h3 {
        font-size: 20px;
    }

    .total__inner p {
        font-size: 15px;
    }

    .total__supply-block img {
        max-width: 305px;
    }

    .total__supply_burn-first,
    .total__supply_burn-second {
        margin-left: 106px;
    }

    .total__supply_burn-first {
        margin-left: 80px;
    }

    .burning-block {
        padding: 35px 41px;
    }

    .burning-text p {
        font-size: 18px;
    }

}


@keyframes bounce {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}